{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="borde-botton mb-2">Add Payment</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-info btn-sm" href="{% url 'home' %}">Cancel</a>
                <button class="btn btn-primary btn-sm" type="submmit">Collect Payment</button>
            </div>
        </form>
    </div>
    {% if user.is_authenticated %}
        {% if user.member %}
            {% if user.member.cell_group.payment_set.all %}
                <h5>List of payments</h5>
                <table class="table table-sm table-hover">
                    <tr>
                        <th>Contribution</th>
                        <th>Member</th>
                        <th>Amount</th>
                        <th>Date Created</th>
                        <th>Created By</th>
                    </tr>
                    {% for m in user.member.cell_group.payment_set.all %}
                        <tr>
                            <td>{{ m.contribution }}</td>
                            <td>{{ m.member }}</td>
                            <td>{{ m.amount|intcomma }}</td>
                            <td>{{ m.record_date|date:"d/m/y H:i" }}</td>
                            <td>{{ m.created_by }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No records to display</p>
            {% endif %}
        {% else %}
            <p>This application is for management of cell groups. However, you are not linked to any cell group right now!</p>
            <a class="btn btn-primary btn-sm" href="{% url 'create-cell-group' %}">Create new cell group</a>
        {% endif %}
    {% else %}
        <p>You are not logged in yet!</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock content%}
